<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    {{!-- <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/animate.css" />
    <link rel="stylesheet" href="./css/styles1.css" />
    
    <title>Rajkumar Portfolio</title>
  </head>
  <body>
    <div class="containers navbar">
      <header class="header">
        <nav class="navbar navbar-dark navbar-expand-sm">
            <div class="container row">
                <div class="col-sm-6 mt-2">
                    <h2><b>RAJKUMAR</b></h2>
                </div>
                <div class="col-sm-1 offset-5">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link projectnav" href="#about">ABOUT</a></li>
                        <li class="nav-item"><a class="nav-link projectnav" href="#skills">SKILLS</a></li>
                        <li class="nav-item"><a class="nav-link projectnav" href="#mywork">CERTIFICATIONS</a></li>
                        <li class="nav-item"><a class="nav-link projectnav" href="#project">PROJECTS</a></li>
                    </ul>
                </div>
                
            </div>
        </nav>
        
      </header>
    </div>

    <div class="containers main-info-section">
      <div class="text">
        <h1>
          <span>H</span>
          <span class="m-left">i</span>
          <span class="m-left">,</span>
          <br>
          <span>I</span>
          <span class="m-left">'</span>
          <span class="m-left">m</span>
          <span class="name">K</span>
          <span class="m-left name">.</span>
          <span class="m-left name">R</span>
          <span class="m-left name">a</span>
          <span class="m-left name">j</span>
          <span class="m-left name">k</span>
          <span class="m-left name">u</span>
          <span class="m-left name">m</span>
          <span class="m-left name">a</span>
          <span class="m-left name">r</span>
          <span class="m-left">,</span>
          <br>
          <span>C</span>
          <span class="m-left">o</span>
          <span class="m-left">m</span>
          <span class="m-left">p</span>
          <span class="m-left">u</span>
          <span class="m-left">t</span>
          <span class="m-left">e</span>
          <span class="m-left">r</span>
          <span class="m-left"> </span>
          <span>S</span>
          <span class="m-left">c</span>
          <span class="m-left">i</span>
          <span class="m-left">e</span>
          <span class="m-left">n</span>
          <span class="m-left">c</span>
          <span class="m-left">e</span>
          
          <span class="m-left">.</span>
        </h1>
        <!-- <p> 8185059935/rajkumar3934@gmail.com</p> -->
        <a style="text-decoration:none" href="#contact">DOWNLOAD RESUME</a>
      </div>
 
      <div class="profile-image">
        <img src="./img/profile-image.png">
      </div>
    </div>

    <div class="containers about" id="about">
      <h1>About</h1>
      <div class="about-me-info">
        
        <p>I Kakumanu Rajkumar, an enthusiastic person with highly motivated and leadership skills having bachelors of
          engineering degree in Computer Science in IIITDM Kurnool. Expert in implementation of each step of project.
          Eager to learn new technologies and methodologies.</p>
      </div>
      <img src="./img/dotted-shape.png">
    </div>

    <div class="containers skills" id="skills">
      <h2>Skills</h2>
      <!-- <p class="skills-info">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book</p> -->
      
      <div class="html">
        <div class="tag-python">
          <p>Python</p>
        </div>
        <div class="progressbar">
          <div class="bar-python"></div>
        </div>
      </div>

      <div class="html">
        <div class="tag-java">
          <p>C, Java</p>
        </div>
        <div class="progressbar">
          <div class="bar-java"></div>
        </div>
      </div>

      <div class="html">
        <div class="tag-node">
          <p>Node.js, PHP</p>
        </div>
        <div class="progressbar">
          <div class="bar-node"></div>
        </div>
      </div>

      <div class="html">
        <div class="tag-mongodb">
          <p>Mongodb</p>
        </div>
        <div class="progressbar">
          <div class="bar-mongodb"></div>
        </div>
      </div>

      <div class="html">
        <div class="tag-mysql">
          <p>MySQL</p>
        </div>
        <div class="progressbar">
          <div class="bar-mysql"></div>
        </div>
      </div>

      <div class="html">
        <div class="tag-html">
          <p>HTML, CSS</p>
        </div>
        <div class="progressbar">
          <div class="bar-html"></div>
        </div>
      </div>

      <div class="html">
        <div class="tag-boot">
          <p>Bootstrap</p>
        </div>
        <div class="progressbar">
          <div class="bar-boot"></div>
        </div>
      </div>

      <div class="html">
        <div class="tag-react">
          <p>React.js</p>
        </div>
        <div class="progressbar">
          <div class="bar-react"></div>
        </div>
      </div>

      

    </div>

    <div class="containers work" id="mywork">
      <h1>Certifications</h1>
      <div class="work-category">
        <button id="designing" class="active" onclick="showRequiredCategory(this)">Nptel</button>
        <button id="animation" onclick="showRequiredCategory(this)">Coursera</button>
        <button id="project1" onclick="showRequiredCategory(this)">Other</button>
      </div>
      <div class="category-designing showCategory">
        <a href="./certificates/The Joy of Computing using Python.jpg"><img src="./img/a.jpg" height="200"></a>
        <a href="./certificates/Cryptography and Network Security.jpg"><img src="./img/b.jpg" height="200"></a>
        <a href="./certificates/Machine Learning for Engineering and Science Applications.jpg"><img src="./img/c.jpg" height="200"></a>
        <a href="./certificates/Modern Application Development.jpg"><img src="./img/d.jpg" height="200"></a>
      </div>

      <div class="category-animation hideCategory">
        <a href="./certificates/Coursera What is data science.pdf"><img src="./img/e.png" height="200"></a>
        <a href="./certificates/Coursera tools for ds.pdf"><img src="./img/h.png" height="200"></a>
        <a href="./certificates/Coursera bootstrap.pdf"><img src="./img/i.png" height="200"></a>
      </div>

      <div class="category-project1 hideCategory">
        <a href="./certificates/Intern.pdf"><img src="./img/g.png"></a>
        
      </div>
    </div>

    <!-- <div class="containers contact" id="contact">
      <h1>Contact</h1>
      <form>
        <input type="text" name="name" placeholder="Full Name">
        <input type="email" placeholder="Email">
        <input type="email" placeholder="Portfoliopersonal@example.com" disabled>
        <textarea name="message" cols="30" rows="10" placeholder="Message"></textarea>
        <input type="submit">
      </form>
    </div> -->


    <div class="containers project" id="project">
      <h1>Projects</h1>
      <div class="project-info">
        <ul class="nav nav-tabs">
          <li class="nav-item pill-1">
              <a href="#weather" class="nav-link active" role="tab" data-toggle="tab">Weather Application</a>
          </li>
          <li class="nav-item pill-1">
              <a href="#easythali" class="nav-link" role="tab" data-toggle="tab">Easythali</a>
          </li>
          <li class="nav-item pill-1">
              <a href="#eternalgreen" class="nav-link" role="tab" data-toggle="tab">Etrernal Green</a>
          </li>
          <li class="nav-item pill-1">
              <a href="#alberto" class="nav-link" role="tab" data-toggle="tab">Bootstrap Landing Page</a>
          </li>
          <li class="nav-item pill-1">
            <a href="#portfolio" class="nav-link" role="tab" data-toggle="tab">Personal portfolio</a>
        </li>
      </ul>
      <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade" id="eternalgreen">
          
            <p class="d-none d-sm-block">Eternal Green builds and promotes smart and sustainable solutions in the field of electric mobility, air & water, recycling, energy and agriculture. We are striving to accelerate India’s transition towards green and sustainable future.
             Mainly Eternal Green deals with electric vehicles. They have a fleet of electric vehicle cars which are used by various clients like Google,UBER,etc,. So I developed a web application for managing cars, drivers and clients.</p>
             <ul class="bullet">
               <li>Created forms using accordians.</li>
              <li>Used DataTables plug-in to display information in tabular form.</li>
              <li>Used Google Charts to display various graphs.</li>
            </ul>
            <p><span style="color:#ED5565">Tools:</span> PHP, Mysql, Javascript, Git</p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="easythali">
              
            <p class="d-none d-sm-block">EASYTHALI is a restaurant business in Hyderabad. They have various branches in Hyderabad. They need an application that shall permit users to enter a transfer transaction in bulk data entry format.
              </p>
            
            <ul class="bullet">
              <li>Created a web application that shall permit users to enter a Transfer transaction in bulk
                data entry format and validate, Acknowledge and Reconcile.</li>
             <li>Developed an algorithm for parsing the data and best suggestions for a given input.</li>
             <li>Created Stored procedures.</li>
           </ul>
           <p><span style="color:#ED5565">Tools:</span> PHP, Mysql, Javascript, Git</p>
          </div>
          <div role="tabpanel" class="tab-pane fade show active" id="weather">
              
            <p class="d-none d-sm-block">Developed a Web-Application that shows weather details of a particular city given with the help of OpenWeatherMap api and Mapbox api</p>
            <ul class="bullet">
             <li>Location co-ordinates are collected using Mapbox api by passing the location details.</li>
             <li>Weather details are colleted using OpenWeatherMap api by passing the co-ordinates.</li>
           </ul>
           <p><span style="color:#ED5565">Tools:</span> Node.js, Express, HTML, CSS, OpenWeatherMap, Mapbox, Git</p>
           <p><span style="color:#ED5565">Github:</span> <a class="github" style="text-decoration:none" href="https://github.com/rajkumar3934/weather-app">https://github.com/rajkumar3934/weather-app</a></p>
           <p><span style="color:#ED5565">Website:</span> <a class="github" style="text-decoration:none" href="https://raj3934-weather-application.herokuapp.com/">https://raj3934-weather-application.herokuapp.com/</a></p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="alberto">
            <p class="d-none d-sm-block">Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary world, he specializes in creating mouthwatering Indo-Italian fusion experiences. He says, <em>Put together the cuisines from the two craziest cultures, and you get a winning hit! Amma Mia!</em></p>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="portfolio">
            <p class="d-none d-sm-block">Develope a single webpage for personal portfolio which contains skills, certications, projects, resume etc.</p>
            <p><span style="color:#ED5565">Tools:</span> Node.js, HTML, CSS, Javascript, Git</p>
            <p><span style="color:#ED5565">Github:</span> <a class="github" style="text-decoration:none" href="https://github.com/rajkumar3934/portfolio">https://github.com/rajkumar3934/portfolio</a></p>
          </div>
      </div>


      </div>
    </div>

    <footer>
      <hr>
      <p>2019 copyright. All rights reserved.</p>
    </footer>

    {{!-- <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script> --}}


    <script src="./js/jquery.slim.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>


    <script src="./js/ScrollMagic.min.js"></script>
    <script src="./js/animation.gsap.min.js"></script>
    <script src="./js/TimelineLite.min.js"></script>
    <script src="./js/TweenMax.min.js"></script>
    <script src="./js/CSSPlugin.min.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
